* {
	margin: 0;
	padding: 0;
}


.nav-links {
	color: wheat;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 20px;
	cursor: pointer;
}

.nav-links:hover {
	text-decoration: underline;
}

#navbar {
	background-color: #2d132c;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
}