* {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}


.nav-links {
	color: #C72C41;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 20px;
	cursor: pointer;
}

.nav-links:hover {
	text-decoration: underline;
}

#navbar {
	background-color: #2d132c;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	border: 1px solid wheat;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
}

#welcome-section {
	background-color: #801336;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;

}

#welcome-h1 {
	font-size: 5rem;
	color: rgb(245, 200, 158);
}

#welcome-h2 {
	font-size: 3rem;
	color: #2d132c;
}

#projects-headline {
	background-color: #2d132c;
	text-align: center;
	border: 1px solid wheat;
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}

h1 {
	color: #C72C41;
	font-size: 3rem;
	padding: 30px;
}

.projects-grid {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	background-color:#2d132c;
	padding-bottom: 30px;
	border: 1px solid wheat;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
}

.project-img {
	width: 350px;
	height: 200px;
	padding: 20px;
}

.project-title {
	text-decoration: none;
	text-align: center;
}

h2 {
	color: #ee4540;
}

#connect {
	background-color: #801336;
	width: 100%;
	text-align: center;
}

#connect-h1 {
	font-size: 2.2rem;
	padding-top: 70px;
	color: #2d132c;
}

.logo {
	border-radius: 50%;
	padding: 15px;
}
