* {
    margin: 0;
    padding: 0;
}

body {
    background-color:  #080707;
    font-family: 'Arimo', sans-serif;
}

header {
    text-align: center;
    margin: 15px;
    padding: 20px;
    color: #47c8f7;
}

h1 {
    font-size: 3rem;
}

#survey-form {
    background-color: #202324;
    border: 2px solid #69d2f8;
    border-radius: 12px;
    
}

label, p {
    color: #b8e0ee;
    font-size: 1.5rem;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-left: 50px;
}