* {
    margin: 0;
    padding: 0;
}

body {
    background-color:  #080707;
    font-family: 'Arimo', sans-serif;
}

header {
    text-align: center;
    margin: 15px;
    padding: 20px;
    color: #5adff7;
}

h1 {
    font-size: 3rem;
}

#survey-form {
    background-color: #202324;
    border: 2px solid #69d2f8;
    border-radius: 12px;
    
}

label, p {
    color: #d7eff8;
    font-size: 1.5rem;
    margin: 10px;
    margin-left: 0;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-left: 50px;
    padding: 15px;
}

input, select {
    background-color: #080707;
    height: 37px;
    color: #d6ebf1;
    border: 1px solid #8fd8f3;
    border-radius: 12px;
}

.make-it-pop {
    color: #78f5f5;
}

#name-label, #email-label, #number-label {
    color: #d7eff8;
}
