/*font-family: 'Patua One', cursive ---header
font-family: 'Exo', sans-serif ---main
colors: #e66746  e8789e cc6611
background: #ffeddf ; */

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
    background-color: #ffeddf;

}

header {
    background: radial-gradient(circle, rgba(255,237,223,0.022868522408963532) 0%, rgba(252,232,216,1) 47%, rgba(255,237,223,1) 100%);
    text-align: center;
}

h1 {
    font-family: 'Patua One', cursive;
    color: #24110b;
    font-size: 80px;
    text-shadow: 2px 2px 12px #632c0d;
    margin: 30px;
}

h2, li {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    color: #24110b;

}

#img-div {
    width: 27%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
}

#image {
    height: 600px;
    width: 450px;
    border: 6px solid #cc6611;
}

#border-two {
    height: 612px;
    width: 462px;
    border: 6px solid #e47c9d;
}

#border-three {
    height: 622px;
    width: 472px;
    border: 6px solid #e66746;
    margin: 10px;

}

ul {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

li {
    font-size: 25px;
}

