/*colors: dark #20232a 
input: background transparent

links: background-color: rgba(187,239,253,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: #1a1a1a;*/

* {
		margin: 0;
		font-family: 'Ubuntu', sans-serif;
}

#navbar {
	width: 23%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: #20232a ;
}

#react-logo {
	width: 100px;
	height: 100px;
	margin: 20px 10px 10px 10px;
}

#navbar-title {
	color: #61dafb;
	margin: 20px 10px 10px 10px; 
	font-size: 2.5rem;
}

.nav-link {
	color: white;
	text-decoration: none;
	margin: 20px 10px 10px 10px;
	font-size: 1.5rem;
}

.nav-link:hover {
	color: #61dafb;
}


#main-doc {
	width: 70%;
	position: absolute;
	right: 0;
}



li {
	list-style:none;
}