* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f3032;
}

header {
    background-color: #383a56;
}

#header-img {
    height: 60px;
    width: 40px;
    position: fixed;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'PT Serif', serif;
    color: #ede68a;
    font-size: 8rem;
    text-shadow: 1px 1px 1px gold;
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: #b0a565;
    font-size: 2.7rem;
}

h3 {
    font-family: 'PT Serif', serif;
    color: rgb(243, 239, 221); 
    font-size: 1.7rem;
    padding-bottom: 50px; 
}

p, label {
    color:  rgb(243, 239, 221);
    font-size: 1.5rem;
}

#nav-bar {
    position: fixed;
    top: 0;
    right: 0;
}

.nav-link {
    font-family: 'PT Serif', serif;
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(248, 234, 166);
    padding: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}

#title {
    width: 95%;
    text-align: center;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}



#tag-line {
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
}

#pitch {
    text-align: center;
    margin-top: 100px;
    ;
}

#subscribe {
    text-align: center;
    margin-top: 20px;
}

#special {
    text-align: center;
}

#disclaimer {
    text-align: center;
}

#video-section {
    text-align: center;
}

#pricing {
    width: 95%;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #383a56;
}

.card {
    width: 30%;
    height: 435px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ede68a; 
}

.card-img {
    width: 250px;
    height: 310px;
    object-fit: cover;
    padding-top: 10px;
}

.pricing-h1 {
    font-size: 1rem;
}