* {
    margin: 0;
    padding: 0;
}

header, body {
    background-color: black;
}

#header-img {
    height: 60px;
    width: 40px;
    position: fixed;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h3 {
    font-family: 'PT Serif', serif;
    color: rgb(192, 58, 58);
}

h1 {
    font-size: 4.6rem;
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: rgb(248, 234, 166) ;
    font-size: 2.7rem;
}

p, label {
    color: gold;
}

#nav-bar {
    position: fixed;
    top: 0;
    right: 0;
}

.nav-link {
    font-family: 'PT Serif', serif;
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(248, 234, 166);
    padding: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}

#title {
    width: 95%;
    text-align: center;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}



#tag-line {
    text-align: center;
    margin-top: 20px;
}

#pitch {
    text-align: center;
    margin-top: 100px;
    ;
}

#subscribe {
    text-align: center;
}

#special {
    text-align: center;
}

#disclaimer {
    text-align: center;
}

#video-section {
    text-align: center;
}

#pricing {
    text-align: center;
    display: flex;
    align-items: center;
}

.card {
    width: 30%;
    height: 400px;
}

.card-img {
    width: 250px;
    height: 310px;
    object-fit: cover;
}